<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main >
  <h1>ADMIN</h1>
<<<<<<< HEAD

        <div>  
          <form action="/admin/editproduct/" method="POST" class="busqueda-header">
            <input type="text" placeholder="Product ID" name="searchproduct" />
            <button type="submit">
              <i class="fas fa-search logoLupa"></i>
            </button>
          </form>
                </div>

          <div>  
            <form action="/admin/edituser/" method="GET" class="busqueda-header">
              <input type="text" placeholder="User ID" name="searchuser" />
              <button type="submit">
                <i class="fas fa-search logoLupa"></i>
                 </button>
              </form>
            </div>                
=======
        <div>
        <a href="./users">USUARIOS</a>
        </div>
        <div>
        <div>PRODUCTOS</div>
        <a href="./products">Listado</a>
        <a href="./new">Nuevo</a>
        </div>
>>>>>>> bcddcf30eb142f747dd798d7567ae821ff81b71a

    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>