<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-reg-log">
  <h1>ADMIN</h1>
        <div>
        <a href="./users">USUARIOS</a>
        </div>
        <div>
        <div>PRODUCTOS</div>
        <a href="./products">Listado</a>
        <a href="./new">Nuevo</a>
        </div>

    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>