<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>


    <main >

        <h2>en el perfil del Usuario</h2>
        <a href="/#">Ir a la tienda</a>

    </main>

    <%- include("../partials/footer.ejs") %> 


  </body>
</html>