<!DOCTYPE html>
<html lang="en">
  
  <%- include("../partials/head.ejs") %>
  
  <body>
    
    <%- include("../partials/header.ejs") %>

    <main class="login-registro">
        <h2>Creá una cuenta</h2>  
        <form action="/guardar-usuario" method="POST" class="login-registro-formulario">
          <div>
            <label>Nombre</label>
          </div>
          <div>
            <input type="text" name="nombre" id="nombre">
          </div>
          <div>
            <label>Apellido</label>
          </div>
          <div>
            <input type="text" name="apellido" id="apellido">
          </div>
          <div>
            <label>Fecha de Nacimiento</label>
          </div>
          <div>
            <input type="date" name="fecha" id="apellido">
          </div>
          <div>
            <label>Correo Electrónico</label>
          </div>
          <div>
            <input type="email" name="email" id="email">
          </div>
          <div>
            <label>Contraseña</label>
          </div>
          <div>
            <input type="password" name="contraseña" id="contraseña">
          </div>
          <div>
            <label>Repetir Contraseña</label>
          </div>
          <div>
            <input type="password" name="contraseña2" id="contraseña2">
          </div>
            <div class="login-registro-checkbox">
            <input type="checkbox" name="newsletter" id="newsletter">
            <label>Deseo recibir correo con novedades y ofertas.</label>
          </div>
          <div class="login-registro-checkbox">
          <input type="checkbox" name="newsletter" id="newsletter">
          <div>
            <label>Acepto los terminos y condiciones.</label>
          </div>
          <div>
            <button type="reset" class="login-registro-boton">Borrar</button>
            <button type="submit" class="login-registro-boton">Crear Cuenta</button>
          </div>

        </form>
    </main>

    <%- include("../partials/footer.ejs") %> 
    
  </body>
</html>
