<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>


    <main class="main-error">

        <h2><i class="fas fa-thumbs-up"></i> Usuario Creado!</h2>
        <a href="/#">Ir a la tienda</a>

    </main>

    <%- include("../partials/footer.ejs") %> 


  </body>
</html>
