<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login-EOS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <img src="images/EOS-gold.svg" class="logoEOS" />

      <form action="#" method="GET" class="busqueda">
        <input type="search" placeholder="Buscar productos" name="search" />
        <button type="submit">lupa</button>
      </form>

      <nav class="menu">
        <a href="/register" class="parte-1">Creá tu cuenta</a>
        <a href="/login" class="parte-2">Ingresá</a>
        <a href="/productCart" class="parte-3">Mis compras</a>
      </nav>
    </header>

    <main class="login-registro">
      <h2>Login</h2>  
      <form action="/guardar-usuario" method="POST" class="login-registro-formulario">
        <div>
          <label>Correo Electrónico</label>
        </div>
        <div>
          <input type="email" name="email" id="email">
        </div>
        <div>
          <label>Contraseña</label>
        </div>
        <div>
          <input type="password" name="contraseña" id="contraseña">
        </div>
        <div>
          <a href="#" class="login-registro-link">Olvidaste tu contraseña?</a>
        </div>
        <div class="login-registro-checkbox">
          <input type="checkbox" name="conectado" id="conectado">
          <label>Permanecer Conectado</label>
        </div>
        <div>
          <button type="submit" class="login-registro-boton">Ingresar</button>
        </div>
        <div>
          <a href="#" class="login-registro-link">No tenes cuenta? Creá una</a>
        </div>

      </form>
    </main>

    <footer>
      <div class="footer">
        <div class="contenedor-logo-y-redes-footer">
          <div class="contenedor-logo-eos-footer">
            <a href="/index">
              <img
                class="logo-eos-footer"
                src="images/EOS-gold.svg"
                alt="logo eos"
            /></a>
          </div>

          <div class="contenedor-redes-footer">
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-twitter twitter"></i>
              </div>
            </a>
          </div>
        </div>

        <nav class="nav-footer">
          <ul>
            <li>
              <a href="#">Sobre Nosotros</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
            <li>
              <a href="#">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#">Registrate</a>
            </li>
            <li>
              <a href="#">Locales más cercanos</a>
            </li>
          </ul>
        </nav>
      </div>

      <div>
        <p class="copyright">Copyright © 2020-2021 EOS S.R.L.</p>
      </div>
    </footer>

  </body>
</html>
