<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle producto-EOS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <img src="images/EOS-gold.svg" class="logoEOS" />

      <form action="#" method="GET" class="busqueda">
        <input type="search" placeholder="Buscar productos" name="search" />
        <button type="submit"><img src="images/buscar.png" alt="buscar" class="logoLupa"></button>
      </form>

      <nav class="menu">
        <a href="/" class="parte-4">|Home|</a>
        <a href="/register" class="parte-1">|Creár cuenta|</a>
        <a href="/login" class="parte-2">|Ingresár|</a>
        <a href="/productCart" class="parte-3">|Mis compras|</a>
      </nav>
    </header>

    <main class="main-Detail">

      <img src="images/logo-underArmour.png" class="ProductosMarca">

      <img src="images/buzo-underarmour.jfif" class="producto">

    </main>

    <footer>
      <div class="footer">
        <div class="contenedor-logo-y-redes-footer">
          <div class="contenedor-logo-eos-footer">
            <a href="/index">
              <img
                class="logo-eos-footer"
                src="images/EOS-gold.svg"
                alt="logo eos"
            /></a>
          </div>

          <div class="contenedor-redes-footer">
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-twitter twitter"></i>
              </div>
            </a>
          </div>
        </div>

        <nav class="nav-footer">
          <ul>
            <li>
              <a href="#">Sobre Nosotros</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
            <li>
              <a href="#">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#">Registrate</a>
            </li>
            <li>
              <a href="#">Locales más cercanos</a>
            </li>
          </ul>
        </nav>
      </div>

      <div>
        <p class="copyright">Copyright © 2020-2021 EOS S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
