<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compras-EOS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header></header>
    <!--
    <main>
      <h3 class="titulo-carrito">CARRITO</h3>
      <section class="container-productos-carrito">
        <article class="producto-carrito">
          <img
            class="img-producto"
            src="/images/zapatillasVans.jfif"
            alt="zapatillas vans"
          />
          <div class="descripcion-producto-carrito">
            <h4 class="articulo">Zapatillas Vans Old Skool</h4>
            <p class="talle-carrito">Talle 43</p>
            <p class="precio">$ 10.900,00</p>
          </div>
        </article>

        <article class="producto-carrito">
          <img
            class="img-producto"
            src="/images/camperaNike.jfif"
            alt="zapatillas vans"
          />
          <div class="descripcion-producto-carrito">
            <h4 class="articulo">
              Campera Nike Sportswear Heritage Windrunner
            </h4>
            <p class="talle-carrito">Talle M</p>
            <p class="precio">$ 4999,00</p>
          </div>
        </article>
      </section>

      <section class="contenedor-detalle-compra">
        <p class="detalle">Detalle</p>
        <div class="subtotal">
          <p>Subtotal</p>
          <p>$ 15.899,00</p>
        </div>
        <div class="envio">
          <p>Envío</p>
          <p>$ 400</p>
        </div>
        <div class="total-compra">
          <p>TOTAL</p>
          <p>$ 16299</p>
        </div>
      </section>
      <div class="contenedor-button">
        <input
          class="finalizar-compra"
          type="button"
          value="FINALIZAR COMPRA"
        />
      </div>
    </main>
    -->

    <footer>
      <div class="footer">
        <div class="contenedor-logo-y-redes-footer">
          <div class="contenedor-logo-eos-footer">
            <a href="/index">
              <img
                class="logo-eos-footer"
                src="images/EOS-gold.svg"
                alt="logo eos"
            /></a>
          </div>

          <div class="contenedor-redes-footer">
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-twitter twitter"></i>
              </div>
            </a>
          </div>
        </div>

        <nav class="nav-footer">
          <ul>
            <li>
              <a href="#">Sobre Nosotros</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
            <li>
              <a href="#">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#">Registrate</a>
            </li>
            <li>
              <a href="#">Locales más cercanos</a>
            </li>
          </ul>
        </nav>
      </div>

      <div>
        <p class="copyright">Copyright © 2020-2021 EOS S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
