<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compras-EOS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <img src="images/EOS-gold.svg" class="logoEOS" />

      <form action="#" method="GET" class="busqueda">
        <input type="search" placeholder="Buscar productos" name="search" />
        <button type="submit">lupa</button>
      </form>

      <nav class="menu">
        <a href="/" class="parte-4">|Home|</a>
        <a href="/register" class="parte-1">|Creár cuenta|</a>
        <a href="/login" class="parte-2">|Ingresár|</a>
        <a href="/productCart" class="parte-3">|Mis compras|</a>
      </nav>
    </header>

    <!-- MAIN -->
    <main class="main-carrito">
      <h2 class="titulo-carrito">CARRITO</h2>

      <div class="container-productos-detallecompra">
        <section class="container-productos-carrito">
          <article class="producto-carrito">
            <img
              class="img-producto"
              src="/images/zapatillasVans.jfif"
              alt="zapatillas vans"
            />
            <div class="descripcion-producto-carrito">
              <h4 class="articulo">Zapatillas Vans Old Skool</h4>
              <p class="talle-carrito">Talle 43</p>
              <p class="precio">$ 10.900</p>
            </div>
          </article>

          <div class="linea-separadora"></div>

          <article class="producto-carrito">
            <img
              class="img-producto"
              src="/images/camperaNike.jfif"
              alt="zapatillas vans"
            />
            <div class="descripcion-producto-carrito">
              <h4 class="articulo">Campera Nike Sportswear</h4>
              <p class="talle-carrito">Talle M</p>
              <p class="precio">$ 4999</p>
            </div>
          </article>

          <div class="linea-separadora"></div>
        </section>

        <div class="vl"></div>

        <section class="contenedor-detalle-compra">
          <p class="detalle">Detalle</p>
          <div class="linea-separadora-detalle"></div>
          <div class="subtotal">
            <p>Subtotal</p>
            <p>$ 15.899</p>
          </div>
          <div class="envio">
            <p>Envío</p>
            <p>$ 400</p>
          </div>

          <div class="boton-descuento">
            <input
              class="cupon-descuento"
              type="text"
              placeholder="INGRESA CUPÓN DE DESCUENTO"
              minlength="4"
              maxlength="8"
            />
          </div>

          <div class="linea-separadora-detalle"></div>
          <div class="total-compra">
            <p>TOTAL</p>
            <p class="precio-total">$ 16299</p>
          </div>
          <div class="linea-separadora-detalle"></div>
          <div class="boton-contenedor">
            <input
              class="finalizar-compra"
              type="button"
              value="FINALIZAR COMPRA"
            />
          </div>
        </section>
      </div>
      <div class="linea-separadora"></div>

      <!-- Ver Mas -->
      <section>
        <p class="ver-mas-titulo">Podria interesarte</p>
        <div class="ver-mas-productos">
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/buzo-underarmour.jfif" alt="" />
              <p>Buzo Under Armour</p>
              <p>$6199</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/medias-nike.jfif" alt="" />
              <p>Medias Nike</p>
              <p>$1399</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/remera-nike.jfif" alt="" />
              <p>Remera Nike</p>
              <p>$3.999</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="#">
              <img src="/images/pantalon-nike.jpeg" alt="" />
              <p>Pantalon Nike</p>
              <p>$7500</p>
            </a>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <footer>
      <div class="footer">
        <div class="contenedor-logo-y-redes-footer">
          <div class="contenedor-logo-eos-footer">
            <a href="/">
              <img
                class="logo-eos-footer"
                src="images/EOS-gold.svg"
                alt="logo eos"
            /></a>
          </div>

          <div class="contenedor-redes-footer">
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
            <a class="logo-redes-footer" href="#">
              <div class="circulo">
                <i class="fab fa-twitter twitter"></i>
              </div>
            </a>
          </div>
        </div>

        <nav class="nav-footer">
          <ul>
            <li>
              <a href="#">Sobre Nosotros</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
            <li>
              <a href="#">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#">Registrate</a>
            </li>
            <li>
              <a href="#">Locales más cercanos</a>
            </li>
          </ul>
        </nav>
      </div>

      <div>
        <p class="copyright">Copyright © 2020-2021 EOS S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
