<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro-EOS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <p>REGISTRO</p>

    <footer class="footer">
      <div>
        <a href="/index">
          <img class="logo-eos-footer" src="images/EOS-gold.svg" alt="logo eos"
        /></a>
      </div>
      <nav class="nav-footer">
        <div>
          <ul>
            <li>
              <a href="#">Sobre Nosotros</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
            <li>
              <a href="#">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#">Registrate</a>
            </li>
            <li>
              <a href="#">Locales más cercanos</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="contenedor-logos-footer">
        <a class="logo-redes-footer" href="#">
          <div class="circulo">
            <i class="fab fa-instagram"></i>
          </div>
        </a>
        <a class="logo-redes-footer" href="#">
          <div class="circulo">
            <i class="fab fa-facebook-f"></i>
          </div>
        </a>
        <a class="logo-redes-footer" href="#">
          <div class="circulo">
            <i class="fab fa-twitter twitter"></i>
          </div>
        </a>
      </div>
    </footer>
  </body>
</html>
