* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* FOOTER SIEMPRE ABAJO */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 140px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
}
/* FOOTER SIEMPRE ABAJO */

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
}

/*----------------------Header-----------------------*/

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px #977a58 solid;
}
.logoEOS {
  width: 60px;
  padding: 20px 10px;
}

.header input,
button {
  border: none;
}

.header button,
input {
  background-color: rgba(0, 0, 0, 0);
}

.busqueda-header input:focus {
  outline: none;
}
.busqueda-header button:focus {
  outline: none;
}

.busqueda-header {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #977a58 solid;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.busqueda-header input {
  width: 85%;
}
.logoLupa {
  padding-right: 5px;
  width: 5%;
  color: #977a58;
}

.menu-hamburguesa-footer {
  color: #977a58;
  font-size: 25px;
}

.menu-header {
  display: none;
  color: #977a58;
}

/* ----------------------Estilos index-----------------------*/

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zapatillas {
  width: 100%;
  margin: auto;
}

.banner {
  width: 100%;
  max-width: 800px;
}

.contenedor-marcas-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0 10px 0;
}
.contenedor-marcas-index article {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 2vh 0;
}
.marcas img {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.contenedor-banner-index {
  height: 100%;
}

/*----------------------Estilos About Us-----------------------*/
.main-about {
  background-image: url(../images/skyscrapers-blue-sky-1.jpg);
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutUs-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 10px 20px 10px;
  text-align: center;
}

.aboutUs-container h2 {
  width: 50%;
  color: white;
  padding: 25px 5% 0 5%;
  text-transform: uppercase;
  font-size: 30px;
  margin: auto;
}
.aboutUs-container p {
  width: 50%;
  color: white;
  padding: 10px 5% 20px 5%;
  font-size: 20px;
  margin: auto;
}
/*----------------------Estilos ProductDetail-----------------------*/
.main-productDetail {
  padding: 2vh 0;
}
.container-productDetail {
  width: 95vw;
  margin: auto;
}
.container-productDetail img {
  width: 100%;
}
.container-caract-productDetail {
  display: flex;
  flex-direction: column;
}
.container-caract-productDetail h3 {
  font-weight: 400;
}

.precio-productDetail {
  font-size: 35px;
  font-weight: 600;
}

/*-----------------------Estilos Cart-------------------------------*/
.main-carrito {
  margin-top: 3vh;
  padding: 0 10px 0 10px;
  margin-bottom: 5vh;
}
.titulo-carrito {
  text-align: center;
  margin-bottom: 10px;
}
.container-productos-detallecompra {
  display: flex;
  flex-direction: column;
}
.container-productos-carrito {
  max-width: 400px;
}
.producto-carrito {
  display: flex;
  align-items: center;
  max-height: 100px;
  margin: 10px 0 10px 0;
}
.img-producto {
  height: 100px;
  border: 1px solid black;
}
.descripcion-producto-carrito {
  height: 100px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  padding: 5px;
}

.talle-carrito {
  color: grey;
}
.unidades-producto {
  width: 100%;
}

.precio {
  padding-left: 5px;
  margin: 0;
  align-self: flex-end;
  font-weight: 700;
}

.linea-separadora {
  border-top: 1px solid grey;
  height: 2px;
  padding: 0;
  margin: 0px auto 0 auto;
}
/* ---------------------Detalle de Compra----------------*/
.contenedor-detalle-compra {
  margin: 20px 50px;
}
.detalle {
  font-size: 20px;
  font-weight: 900;
}
.linea-separadora-detalle {
  border-top: 1px solid grey;
  height: 2px;
  padding: 0;
  margin: 0px auto 0 auto;
}
.contenedor-detalle-compra {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 10px;
  max-width: 300px;
}
.contenedor-detalle-compra p {
  margin: 0;
  padding: 0 0 0 20px;
}

.total-compra {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
.subtotal {
  padding-top: 10px;
}
.total-compra {
  padding: 10px 0;
}
.boton-descuento {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-bottom: 5px;
}
.cupon-descuento {
  font-size: 12px;
  border: solid 1px grey;
  text-align: center;
  width: 210px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.precio-total {
  font-weight: 900;
}

.boton-contenedor {
  margin-left: auto;
  text-align: right;
  margin-top: 10px;
}
.finalizar-compra {
  border: none;
  color: #977a58;
  background-color: black;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 800;
}
.finalizar-compra:hover {
  background-color: #977a58;
  color: black;
  transition: 0.4s;
}

.finalizar-compra:focus {
  outline: none;
}

.ver-mas-titulo {
  font-weight: 800;
  text-align: center;
}

.ver-mas-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.articulo-vermas {
  margin: 10px;
}
.articulo-vermas img {
  width: 130px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.articulo-vermas p {
  margin: 0;
  font-size: 10px;
  text-align: center;
  font-weight: 800;
}

/* --------------Estilos Register/login-------------- */

.main-reg-log {
  /*
  
  background-color: rgba(192, 179, 163, 0.2);
  */
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(151, 122, 88, 0.2);
}
.main-reg-log h2 {
  text-align: center;
  margin-top: 8px;
}

.main-reg-log form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  padding: 10px 20px 15px 20px;
}
.contenedor-campos-reg-log {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 400px;
  margin: 2px 0;
  font-size: 20px;
}

.main-reg-log form input {
  background-color: white;
  border: solid 1px grey;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 5px;
  height: 30px;
  font-size: 15px;
}

.main-reg-log form label {
  font-weight: 400;
}
.checkbox-reg-log {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.checkbox-reg-log input {
  margin: 10px;
}

.text-checkbox-reg-log {
  font-size: 18px;
  color: rgba(71, 71, 71, 0.692);
}

.checkbox-reg-log a {
  color: rgba(0, 0, 255, 0.753);
}

.boton-reg-log {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
}

.boton-reg-log button {
  align-self: center;
  color: #977a58;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  font-weight: 400;
  width: 100%;
  height: 40px;
}

.boton-reg-log button:hover {
  background-color: #977a58;
  color: black;
  transition: 0.4s;
}

.main-log {
  background-color: rgba(192, 179, 163, 0.2);
  padding-top: 10px;
}

.log-textcenter {
  text-align: center;
}

.boton-log {
  margin: 0;
}
.text-log {
  margin-top: 10px;
}

/* --------------Estilos newProduct-------------- */

.container-newProduct {
  background-color: rgba(192, 179, 163, 0.521);
  padding: 10px 0;
}
.titulo-newProduct {
  text-align: center;
  padding-top: 8px;
}
.container-newProduct form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  padding: 10px 0 15px 0;
}
.contenedor-campos-newProduct {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2px 0;
}
.container-newProduct form input,
select {
  background-color: white;
  border: solid 1px grey;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 5px;
  height: 30px;
  font-size: 15px;
}

.container-newProduct form label {
  font-weight: 400;
  font-size: 20px;
}

.contenedor-campos-newProduct textarea {
  margin: 6px 0;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
}
.boton-newProduct {
  align-self: center;
  border: none;
  color: #977a58;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  font-weight: 400;
  width: 80%;
  height: 40px;
}
.boton-newProduct:hover {
  background-color: #977a58;
  color: black;
  transition: 0.4s;
}

/* -----------------------Estilos Footer----------------------- */
footer {
  background-color: black;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px 10px 30px;
}
footer ul a {
  color: #977a58;
}
footer ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
footer li {
  list-style: none;
  margin: 5px 0 5px 0;
  min-width: 142px;
}

.contenedor-logo-eos-footer {
  display: flex;
  justify-content: center;
}
.logo-eos-footer {
  width: 50px;
}
.contenedor-logo-y-redes-footer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.nav-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  font-weight: 400;
  font-size: 12px;
}

.contenedor-redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.logo-redes-footer {
  color: black;
}

.circulo {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #977a58;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.twitter {
  padding-left: 2px;
}

.copyright {
  color: grey;
  font-size: 10px;
  text-align: center;
}

/*----------------------Productos-----------------------*/
.navbar-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}
.filter-products {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 15px;
}
.filter-products button {
  display: flex;
  padding: 6px 15px 6px 20px;
  background-color: rgba(128, 128, 128, 0);
  border-radius: 15px;
}
.filter-products i {
  margin-left: 5px;
  margin-top: -2px;
}
.all-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-product {
  width: 49vw;
  border: 1px solid #977a58;
  margin-bottom: 3vh;
}
.container-product img {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid grey;
}
.product-descpription {
  text-transform: capitalize;
  padding: 10px;
  padding-top: 5px;
}
.product-descpription h3 {
  font-weight: 400;
}

/*----------------------Estilos pagina ERROR-----------------------*/

.main-error {
  margin: 15vh 12vw 25vh 12vw;
}

.main-error img {
  height: 100%;
  width: 80px;
}
.main-error h2 {
  font-size: 23px;
  margin: 10px 0px;
}
.main-error h3 {
  font-weight: 400;
}

.main-error a {
  color: #977a58;
}

/*----------*/
/*----------------- MEDIA QUERIES ---------------- */
/*----------*/

@media (min-width: 360px) {
  /* Footer */
  .footer {
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    margin: auto;
  }
  .contenedor-logo-redes-footer {
    display: flex;
    flex-direction: column;
  }
  .nav-footer {
    min-width: 134px;
    flex-grow: 0.5;
  }
  .copyright {
    align-self: flex-start;
    padding-bottom: 5px;
  }
  /* Carrito */
  .container-productos-detallecompra {
    align-items: center;
  }
  .contenedor-detalle-compra {
    margin-top: 20px;
  }
}

@media (min-width: 769px) {
  /* Header */
  .header {
    height: 8vh;
  }
  .menu-hamburguesa-footer {
    display: none;
  }
  .menu-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 40%;
  }
  .menu-header a {
    color: black;
    font-size: 14px;
  }
  .logoLupa {
    width: 10%;
    color: #977a58;
  }
  .busqueda-header {
    width: 40%;
  }

  /* Footer */
  .footer {
    max-width: 800px;
    height: 120px;
    padding-top: 30px;
  }
  .logo-eos-footer {
    width: 60px;
  }
  .circulo {
    width: 30px;
    height: 30px;
  }
  .nav-footer {
    font-size: 14px;
  }
  .contenedor-redes-footer {
    font-size: 20px;
  }
  footer ul {
    text-align: left;
  }

  /* Index */
  .contenedor-marcas-index article.marcas {
    width: 30%;
  }

  /* Carrito */
  .main-carrito {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-productos-detallecompra {
    flex-direction: row;
    justify-content: space-between;
  }
  .container-productos-carrito {
    max-width: 60%;
  }
  .vl {
    border-left: 1px solid black;
    height: 300px;
    margin: 20px;
  }
  .contenedor-detalle-compra {
    margin-left: 10px;
  }

  /* New Product*/

  .main-newProduct {
    padding: 1vh 0;
  }
  .container-newProduct {
    margin: auto;
    width: 80vw;
    max-width: 550px;
    border-radius: 20px;
  }
  .container-newProduct form {
    margin: auto;
    max-width: 70vw;
  }

  /* Register y login*/
  .main-reg-log {
    background-color: white;
    padding: 20px 0;
  }
  .container-all-reg-log {
    background-color: rgba(192, 179, 163, 0.8);
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 15px;
  }

  /* Productos */
  .container-product {
    width: 33vw;
  }
  .container-product:hover {
    box-shadow: 0 0 3px rgb(100, 100, 100);
  }
  .navbar-products {
    margin-top: 15px;
  }

  /* Error */
  .main-error {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  /* Product Detail*/
  .container-productDetail {
    display: flex;
    width: 60vw;
    margin: auto;
  }
  .container-productDetail img {
    width: 50%;
  }
  .container-caract-productDetail {
    width: 50%;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  /* Header */
  .header {
    margin: auto;
    padding: 0 15vw;
    justify-content: space-around;
  }
  .logoEOS {
    width: 80px;
  }
  .busqueda-header input {
    width: 90%;
  }
  .busqueda-header input:focus {
    border: none;
  }

  .busqueda-header {
    margin-left: 30px;
    width: 40%;
  }
  .menu-header {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    margin-left: 3vw;
    padding: 0;
  }

  .items-menu-header {
    color: black;
    font-weight: 400;
  }

  .items-menu-header:hover {
    color: #977a58;
    transition: 0.5s;
  }

  .menu-header a {
    width: 100%;
    font-size: 17px;
  }

  .zapatillas {
    max-width: 80vw;
  }

  /* Carrito */
  .main-carrito {
    padding-right: 15vw;
    padding-left: 15vw;
  }

  .container-productos-detallecompra {
    margin-bottom: 10vh;
    padding-right: 50px;
  }
  /* New Product*/

  .container-newProduct {
    width: 550px;
    margin: auto;
    background-color: rgba(192, 179, 163, 0.8);
  }

  /* Error*/
  .main-error {
    margin: 15vh 30vw 25vh 35vw;
    max-width: 400px;
  }

  .main-error img {
    width: 150px;
  }
  .main-error h2 {
    font-size: 30px;
  }
  .main-error h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  /* Productos */
  .all-products-main {
    padding: 0 15vw;
  }
  .container-product {
    width: 20vw;
  }
}
