
body{
 
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
form{
    position: relative;
    left:60%;
    
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer{
    background-color: #eeeded;
}

form{

    
}

header img{

}

.zapatillas{

}

.banner{
    
}

.logo-1{

}
.logo-2{
    
}
.logo-3{
    
}
.logo-4{
    
}
.logo-5{
    
}
.logo-6{
    
}