* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

header {
  display: flex;
  
}

.logoEOS {
  width: 100px;
  padding: 20px;
}

.busqueda,
.menu {
  display: flex;
  
}

body {
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
}

form {
  position: relative;
  left: 60%;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

form {
}

header img {
}

.zapatillas {
  width: 100%;
}

.banner {
  width: 100%;
  margin: auto;
}

section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

main section.articulos img {
  display: flex;
  width:50%;
  margin: auto;
  margin-bottom: 10px;
    
}

.logo-2 {
  
}
.logo-3 {
  
}
.logo-4 {
  
}
.logo-5 {
  
}
.logo-6 {
  
}

/*
--------------Estilos Cart--------------
*/

/*
--------------Estilos Footer--------------
*/
footer {
  background-color: black;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 10px 60px;
}
footer ul a {
  color: #977a58;
}
footer ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
footer li {
  margin: 5px 0 5px 0;
  min-width: 142px;
}

.contenedor-logo-eos-footer {
  display: flex;
  justify-content: center;
}
.logo-eos-footer {
  width: 50px;
}
.contenedor-logo-y-redes-footer {
  width: 50%;
}

.nav-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 50%;
  font-weight: 400;
}

.contenedor-redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.logo-redes-footer {
  color: black;
}

.circulo {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #977a58;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.copyright {
  color: grey;
  font-size: 10px;
  margin: 10px 0 0 0;
  text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 481px) {
  /* Footer */
  .footer {
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    margin: auto;
  }
  .contenedor-logo-redes-footer {
    display: flex;
    flex-direction: column;
  }
  .nav-footer {
    min-width: 134px;
    flex-grow: 0.5;
  }
  .copyright {
    align-self: flex-start;
    padding-bottom: 5px;
  }
}

@media (min-width: 769px) {
  /* Footer */
  .footer {
    max-width: 800px;
  }
  .logo-eos-footer {
    width: 80px;
  }
  .circulo {
    width: 40px;
    height: 40px;
  }
  .nav-footer {
    font-size: 18px;
  }
  .contenedor-logo-eos-footer {
    padding-top: 20px;
  }
  .contenedor-redes-footer {
    font-size: 25px;
  }
  footer ul {
    text-align: left;
  }
}
