<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/headerOnlyEos.ejs") %>
    <main class="main-about">
      <section class="aboutUs-container">
        <div class="preguntas-about">
          <h2>¿Quiénes somos?</h2>
          <p>
            <strong>EOS</strong> nace como producto de un proyecto integrador de
            la carrera de Desarrollo Web FullStack de <i>Digital House</i>. EOS
            es un e-commerce creado por <strong>Emanuel Pelliza</strong>,
            <strong>Mariano Suarez</strong> y <strong>Mariano Pedrini</strong>.
          </p>
        </div>
        <div class="preguntas-about">
          <h2>¿Cuándo fue creado?</h2>
          <p>El proyecto surgió en 2020 y se desarrollo durante 2021.</p>
        </div>
      </section>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
