<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/headerOnlyEos.ejs") %>
    <main class="faq-about">
      <section class="faq-container">
        <h2>PREGUNTAS FRECUENTES</h2>
        <p><strong>¿Como hago para comprar?</strong></p>
        <p>Para comprar en EOS es muy simple y rápido:</p>
        <ol>
            <li> Entrá en nuestra página, registrate y ya podrás comenzar a comprar. En el supuesto que ya te encuentres registrado sólo tienes que ingresar tu usuario y tu contraseña y ya puedes comenzar a comprar.</li>
            <li> Elige el/los producto/s que más te guste/n, el talle y color más adecuado y agrégalos al carrito.</li>
            <li> Una vez que hayas seleccionado todos los productos, puedes ir al carrito para ver que tu pedido sea el correcto. Puedes modificarlo en caso de ser necesario.</li>
            <li> Elige cómo y dónde deseas recibir tu compra.</li>
            <li> Selecciona la forma de pago que más te convenga.</li>
            <li> Revisá tu pedido por última vez y confírmalo.</li>
            <li> En tu pantalla te aparecerá un número de pedido, confirmando que la compra fue realizada con éxito.</li>
            <li> Una vez que se acredite tu pago el pedido será procesado y enviado al destino que elegiste. Cuando el pedido se despache desde nuestro depósito recibirás un mail infomando el número de guía de nuestro operador logístico para que puedas hacer el seguimiento correspondiente, s ihubieras elegido este método de envío.
            <li> En pocos días recibirá el pedido o podrás retirarlo de la sucursal EOS o del operador logístico si hubieras elegido esta opción, y podrás comenzar a disfrutar tu compra.</li>
            <li> Recuerda que en cualquier momento puedes comunicarte con nosotros enviándonos un correo electrónico a maililng.eos@gmail.com</li>
        </ol>
        </section>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>