<!DOCTYPE html>
<html lang="en">
  
  <%- include("./partials/head.ejs") %>
  
  <body>
    
    <%- include("./partials/header.ejs") %>

    <main>
      <section>
        <img src="/images/bannerAhora12.png" class="banner" />
        <img src="images/zapatillasNike.jpg" class="zapatillas"/>
      </section>
      <section>
       
        <a href="/productDetail" >
          <img src="images/logo-vans.png" class="linkLogo"/>
        </a>

        <a href="/productDetail" >
          <img src="images/logo-underArmour.png" class="linkLogo"/>
        </a>

        <a href="/productDetail" >
          <img src="images/logo-nike.png" class="linkLogo"/>
        </a>

        <a href="/productDetail" >
          <img src="images/logo-puma.png" class="linkLogo"/>
        </a>

        <a href="/productDetail">
          <img src="images/logo-adidas.png" class="linkLogo"/>
        </a>

        <a href="/productDetail">
          <img src="images/logo-newBalance.png"class="linkLogo"/>
        </a>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %> 
    
  </body>
</html>
