<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <main class="main-index">
      <section>
        <img src="images/zapatillasNike2.jpg" class="zapatillas" />
      </section>

      <section class="contenedor-marcas-index">
        <article class="marcas">
          <a href="/productDetail">
            <img src="images/logo-vans.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="/productDetail">
            <img src="images/logo-underArmour.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="/productDetail">
            <img src="images/logo-nike.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="/productDetail">
            <img src="images/logo-puma.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="/productDetail">
            <img src="images/logo-adidas.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="/productDetail">
            <img src="images/logo-newBalance.png" />
          </a>
        </article>
      </section>

      <section class="contenedor-banner-index">
        <img src="/images/bannerAhora12.png" class="banner" />
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
