<!DOCTYPE html>
<html lang="en">
  
  <%- include("./partials/head.ejs") %>
  
  <body>
    
    <%- include("./partials/header.ejs") %>

    <main class="login-registro">
      <h2>Login</h2>  
      <form action="/guardar-usuario" method="POST" class="login-registro-formulario">
        <div>
          <label>Correo Electrónico</label>
        </div>
        <div>
          <input type="email" name="email" id="email">
        </div>
        <div>
          <label>Contraseña</label>
        </div>
        <div>
          <input type="password" name="contraseña" id="contraseña">
        </div>
        <div>
          <a href="#" class="login-registro-link">Olvidaste tu contraseña?</a>
        </div>
        <div class="login-registro-checkbox">
          <input type="checkbox" name="conectado" id="conectado">
          <label>Permanecer Conectado</label>
        </div>
        <div>
          <button type="submit" class="login-registro-boton">Ingresar</button>
        </div>
        <div>
          <a href="#" class="login-registro-link">No tenes cuenta? Creá una</a>
        </div>

      </form>
    </main>

    <%- include("./partials/footer.ejs") %> 

  </body>
</html>
