<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/headerOnlyEos.ejs") %>
    <main class="main-about">
      <section class="aboutUs-container">
        <h2>SUCURSALES</h2>
        <p>
          <strong>UNICENTER</strong> Paraná 3745, Martínez, Provincia de Buenos Aires.
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.8157191049036!2d-58.5274394841772!3d-34.50755585992456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0ee292497e9%3A0xf9a611e58747f528!2sUnicenter!5e0!3m2!1ses!2sar!4v1621378654000!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
