<header class="header">
  <a href="/">
    <img src="../../images/index/EOS-gold.svg" class="logoEOS" alt="logo eos"
  /></a>

  <form action="#" method="GET" class="busqueda-header">
    <input type="text" placeholder="Buscar productos" name="search" />
    <button type="submit">
      <i class="fas fa-search logoLupa"></i>
    </button>
  </form>

  <section class="menu-hamburguesa-footer">
    <i class="fas fa-bars"></i>
  </section>

  <% if (locals.isLogged){ %>
    <nav class="menu-header">
      <a href="/" class="items-menu-header">Home</a>
      <a href="/products/cart" class="items-menu-header">Carrito</a>
    </nav>
   
     <ul >
       <a  href="/users/profile">Ver Perfil</a>
       <hr>
       <a  href="/users/logout">Salir</a>
     </ul>
     <br>
     <img src="/images/users/ + <% locals.imageUser %> ">
     <% } else {%>
     <nav class="menu-header">
      <a href="/" class="items-menu-header">Home</a>
      <a href="/users/register" class="items-menu-header">Crear</a>
      <a href="/users/login" class="items-menu-header">Login</a>
      <a href="/products/cart" class="items-menu-header">Carrito</a>
    </nav>
    <%}%>
    
  
</header>
