<header class="header">
  <a href="/">
    <img src="images/EOS-gold.svg" class="logoEOS" alt="logo eos"
  /></a>

  <form action="#" method="GET" class="busqueda-header">
    <input type="text" placeholder="Buscar productos" name="search" />
    <button type="submit">
      <i class="fas fa-search logoLupa"></i>
    </button>
  </form>

  <section class="menu-hamburguesa-footer">
    <i class="fas fa-bars"></i>
  </section>

  <nav class="menu-header">
    <a href="/">Home</a>
    <a href="/register">Crear cuenta</a>
    <a href="/login">Ingresar</a>
    <a href="/productCart">Mis compras</a>
  </nav>
</header>
