<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main >
      <article class="container-productDetail">
        
        <div class="container-caract-productDetail">
          
          <div>Hola</div>>

          <div>
            <p>Talles disponibles:</p>
           
          </div>
          <div>
            <p>Colores disponibles:</p>
            
          </div>
          

          <div class="boton-contenedor">
            <input
              class="finalizar-compra"
              type="button"
              value="AGREGAR AL CARRITO"
            />
          </div>
        </div>
      </article>

      <article class="container-productDetail-bottom">
        <h4>• Descripción •</h4>
       
      </article>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
