<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head.ejs") %>
  
  <body>
    
    <%- include("../partials/header.ejs") %>

    <main class="main-carrito">
      <h2 class="titulo-carrito">COMPRA</h2>

      <div class="container-productos-detallecompra">
        


      
      <section>
        <p class="ver-mas-titulo">Podria interesarte</p>
        <div class="ver-mas-productos">
          <div class="articulo-vermas">
            <a href="/products/detail/7">
              <img src="/images/products/product-1620169698811.jpg" alt="" />
              <p>Under Armour Charged Pursuit 2</p>
              <p>$17.999</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/8">
              <img src="/images/products/product-1620169750268.jpeg" alt="" />
              <p>New Balance 574</p>
              <p>$13.499</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/8">
              <img src="/images/products/product-1620169845959.jpg" alt="" />
              <p>Nike Heritage</p>
              <p>$3.399</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/11">
              <img src="/images/products/product-1620169960844.jpg" alt="" />
              <p>Under Armour Huddle Snapback</p>
              <p>$1.999</p>
            </a>
          </div>
        </div> 
      </section> 
    </main>


    <%- include("../partials/footer.ejs") %> 

  </body>
</html>
