<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="all-products-main">
      <section class="navbar-products">
        <div>
          <h2>PRODUCTOS</h2>
        </div>
        <div class="filter-products">
          <button type="button">
            <p>Filtrar</p>
            <i class="fas fa-sort-down"></i>
          </button>
        </div>
      </section>

      <section class="all-products-container">
        <article class="container-product">
          <img src="images/index/product-default.png" alt="imagen producto" />
          <div class="product-descpription">
            <h3>Titulo Producto</h3>
            <p>Descripcion producto</p>
            <p>$9000</p>
          </div>
        </article>

        <article class="container-product">
          <img src="images/index/product-default.png" alt="imagen producto" />
          <div class="product-descpription">
            <h3>Titulo Producto</h3>
            <p>Descripcion producto</p>
            <p>$9000</p>
          </div>
        </article>

        <article class="container-product">
          <img src="images/index/product-default.png" alt="imagen producto" />
          <div class="product-descpription">
            <h3>Titulo Producto</h3>
            <p>Descripcion producto</p>
            <p>$9000</p>
          </div>
        </article>

        <article class="container-product">
          <img src="images/index/product-default.png" alt="imagen producto" />
          <div class="product-descpription">
            <h3>Titulo Producto</h3>
            <p>Descripcion producto</p>
            <p>$9000</p>
          </div>
        </article>

        <article class="container-product">
          <img src="images/index/product-default.png" alt="imagen producto" />
          <div class="product-descpription">
            <h3>Titulo Producto</h3>
            <p>Descripcion producto</p>
            <p>$9000</p>
          </div>
        </article>

        <article class="container-product">
          <img src="images/index/product-default.png" alt="imagen producto" />
          <div class="product-descpription">
            <h3>Titulo Producto</h3>
            <p>Descripcion producto</p>
            <p>$9000</p>
          </div>
        </article>
      </section>
    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
