<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="main-newProduct">
      <h2 class="titulo-newProduct">ACTUALIZAR PRODUCTO</h2>
      <form action="/product/update" method="PUT" enctype="multipart/form-data">
        
        <div class="contenedor-campos-newProduct">
          <label for="tituloProducto">• Código</label>
          <input type="text" name="codigoProducto" id="codigoProducto" />
        </div>

        <div class="contenedor-campos-newProduct">
          <button type="submit" class="boton-newProduct">Siguiente</button>

      </form>
    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
